body {
  font-family: "Helvetica", sans-serif;
  margin: 1em auto;
  padding: 2em;
  line-height: 1.5em;
  font-size: 1.1em;
  font-weight: 200;
  border: 1px solid lightgrey;
  box-shadow: 20px 20px 30px lightgrey;
  max-width: 50em;
}

p {
  max-width: 40em;
}

h1, h2 {
  font-weight: 500;
}
